name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Backend
        run: |
          cd C:\My Projects\MovieBooking\MovieBookingApplication
          mvn clean package


      - name: Build Docker Images
        run: |
          docker build -t movie-backend ./backend
          docker build -t movie-frontend ./frontend
